{{ define "title" }}{{ .Site.Title }}{{ end}}

{{ define "header_css" }}
<style lang="scss">
  .landing-quarter {
    height: 100%;
    width: 100%;

    .content {
      margin-top: 4rem;
      transition: margin 0.5s;
      max-width: 70%;
    }

    transition: backdrop-filter 0.5s,
    -webkit-backdrop-filter 0.5s;

    h1 {
      font-weight: 900;
    }

    .show-on-hover {
      transition: opacity 0.5s;
      opacity: 0;
    }

    --blur: 3px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));

    &:hover {
      .content {
        margin: 0rem;
      }

      --blur: 15px;

      .show-on-hover {
        opacity: 1;
      }
    }
  }

  .mt-header {
    margin-top: 60px;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .mh {
    min-height: calc(100vh - 60px);
    overflow-x: hidden;
  }

  .text-light {
    p {
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
</style>
{{ end }}

{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

<div class="row row-cols-1 row-cols-md-2 mt-header h-100 mh flex-grow flex-fill-1">
  {{ $headless := .Site.GetPage "/homepage" }}
  {{ $reusablePages := $headless.Resources.ByType "page" }}
  {{ $reusablePages := sort $reusablePages ".Params.weight" }}
  {{ range $i,$p :=$reusablePages }}

  <div class="flex-fill bg-cover bg-position-center {{if eq .Params.theme " light" }}text-light{{end}} h-50 p-0"
    style="background-image: url('{{ .Params.background | relURL }}');">
    <div class="container landing-quarter d-flex justify-content-center align-items-center">
      <div class="row text-center content">
        <div class="d-flex flex-column">
          <h1 class="text-{{if eq .Params.theme " light"}}light{{else}}primary{{end}} text-capitalize">{{ $p.Title }}
          </h1>
          <div class="show-on-hover">
            <div class="text-{{if eq .Params.theme " light"}}light{{else}}primary{{end}}">{{ $p.Content }}</div>
            {{ if $p.Params.button }}
            <div>
              <a class="button" href="{{ $p.Params.buttonLink | relURL }}">{{ $p.Params.button }}</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}